*{
    box-sizing: border-box;
}
.aboutpageContainer{
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter Tight', sans-serif;
}
.aboutpageHeading{
    padding-top: 10px;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.aboutpageHeading>span{
    background: black;
    padding: 15px; 
    box-shadow: 5px 5px 8px #5a4f4f;
}
#background1{
    background-image: url("./Images/aboutpagebackground1.jpg");
    background-size: cover;
    transition: all 1s ease-in-out;
}
#background2{
    background-image: url("./Images/aboutpagebackground2.jpg");
    background-size: cover;
    transition: all 1s ease-in-out;
}
.aboutpageText{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutpagetext1{
    border-radius: 10px ;
    margin-left: -50vw;
    padding: 20px;
    width: 25vw;
    background-color: rgb(83, 83, 83);
    color: white;
    transition: all 1s ease-in-out;
    box-shadow: 7.5px 7.5px 8px #888888;
}
.aboutpagetext1>p{
    font-size: 1.25rem;
}
.aboutpagetext2{
    border-radius: 10px ;
    margin-left: 50vw;
    padding: 20px;
    font-size: 1.25rem;
    width: 25vw;
    background-color: white;
    transition: all 1s ease-in-out;
    box-shadow: 7.5px 7.5px 8px #29261e;
}
.aboutpagetext2>p{
    font-size: 1.25rem;
}
.aboutpagesecondContainer{
    border-top: 2px solid white;
    background-image: url("./Images/aboutpagebackground.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter Tight', sans-serif;
}
.cofoundersContainer{
    border: 2px solid white;
    margin: 5% 0;
    width: 80%;
    min-height:70vh;
}
.cofoundersHeading{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cofoundersContent{
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.05));
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.cofounder1box{
    border: 2px solid black;
    background: white;
    width: 300px;
    height: 450px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cofounder2box{
    border: 2px solid black;
    background: white;
    width: 300px;
    height: 450px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cofounderImages>img{
    width: 250px;
}
.iconImages>a>img{
    width: 30px;
    margin: 10px;
}
.achievementsContainer{
    border: 2px solid white;
    margin: 5% 0;
    width: 80%;
    min-height:70vh;
}
.achievementsHeading{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.achievementsContent{
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.05));
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.achievementsContent>img{
    width: 300px;
    height: 320px;
    margin: 20px 10px;
    border: 2px solid black;
}
.articlesContainer{
    border: 2px solid white;
    margin: 5% 0;
    width: 80%;
    min-height:70vh;
}
.articlesHeading{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.articlesContent{
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.05));
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.articlesContent>a>img{
    width: 375px;
    margin: 20px 10px;
    border: 2px solid black;
}
.achievementsContent>img:hover{
    cursor: pointer;
}
.popupOutercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.945);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popupInnercontainer{
    border: 2px solid white;
    width: 500px;
    max-height: 80vh;
}
.popupInnercontainer>img{
    width: 100%;
    height: 100%;
}
.popupclosingContainer{
    border: 2px solid grey;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.25rem;
}
.popupclosingContainer:hover{
    cursor: pointer;
}

@media only screen and (min-width:769px) {
    #about{
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: -2;
    }
    .emptydiv{
        width: 100%;
        height: 200px;
    }
}
@media only screen and (min-width:769px) and (max-width:1080px) {
    .aboutpagetext1{
        width: 50vw;
        margin-left: 0;
    }
    .aboutpagetext2{
        width: 50vw;
        margin-left: 0;
    }
}
@media only screen and (min-width:481px) and (max-width:768px) {
    .aboutpagetext1{
        width: 75vw;
        margin-left: 0;
        font-size: 1.25rem;
    }
    .aboutpagetext2{
        width: 75vw;
        margin-left: 0;
        font-size: 1.25rem;
    }
    .popupInnercontainer{
        width: 400px;
    }
}
@media only screen and (max-width:480px) {
    .aboutpagetext1{
        width: 90vw;
        margin-left: 0;
        font-size: 1rem;
    }
    .aboutpagetext2{
        width: 90vw;
        margin-left: 0;
        font-size: 1rem;
    }
    .cofounder1box{
        width: 250px;
        height: 375px;
    }
    .cofounder2box{
        width: 250px;
        height: 375px;
    }
    .cofounderImages>img{
        margin-top: 20px;
        width: 200px;
    }
    .iconImages>a>img{
        width: 25px;
        margin: 10px;
    }
    .achievementsContent>img{
        width: 220px;
        height: 280px;
    }
    .articlesContent>a>img{
        width: 220px;
        height: auto;
    }
    .popupInnercontainer{
        width: 280px;
    }
}

@media only screen and (min-width: 1921px) and (max-width: 2880px) {
    .aboutpageHeading>span{
        padding: 22px;
    }
    .cofounder1box{
        width: 450px;
        min-height: 675px;
    }
    .cofounder2box{
        width: 450px;
        min-height: 675px;
    }
    .cofounderImages>img{
        margin-top: 10px;
        width: 350px;
        height: auto;
    }
    .cofoundersText>p{
        font-size: 1.25rem;
    }
    .iconImages>a>img{
        width: 45px;
        height: 45px;
        margin: 10px;
    }
    .achievementsContent>img{
        width: 450px;
        height: 480px;
    }
    .articlesContent>a>img{
        width: 560px;
        height: auto;
    }
    .popupInnercontainer{
        width: 750px;
    }
    .popupclosingContainer{
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 2881px){
    .aboutpageHeading>span{
        padding: 30px;
    }
    .cofounder1box{
        width: 600px;
        min-height: 900px;
    }
    .cofounder2box{
        width: 600px;
        min-height: 900px;
    }
    .cofounderImages>img{
        margin-top: 20px;
        width: 475px;
        height: auto;
    }
    .cofoundersText>p{
        font-size: 1.25rem;
    }
    .iconImages>a>img{
        width: 60px;
        height: 60px;
        margin: 10px;
    }
    .achievementsContent>img{
        width: 600px;
        height: 650px;
    }
    .articlesContent>a>img{
        width: 750px;
        height: auto;
    }
    .popupInnercontainer{
        width: 1000px;
    }
    .popupclosingContainer{
        width: 80px;
        height: 80px;
        font-size: 1.75rem;
    }
}