*{
    box-sizing: border-box;
}
.projectspageContainer{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 10px;
    background-image: url("./Images/projectspagebackground.jpg");
    background-size: cover;
    font-family: 'Inter Tight', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.projectspageHeading{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectspageHeading>span{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
}
.videosContainer{
    width: 95%;
    min-height: 90vh;
}
.videoCategoryHeading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoCategoryHeading>p{
    font-size: 1.5rem;
}
.videosInnerContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.videosOuterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videosOuterContainer>button{
    margin: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
}
.videosOuterContainer>button:hover{
    cursor: pointer;
    background-color: rgb(39, 39, 39);
}
.eachVideo{
    margin: 10px;
    box-shadow: 7.5px 0 8px #888888;
    transition: all 0.3s ease-in-out;
}
.eachVideo:hover{
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width:480px) and (max-width:768px){
    .eachVideo{
        transform: scale(0.65);
        margin: -20px 0;
    }
    .eachVideo:hover{
        opacity: 1;
        transform: scale(0.65);
    }
}
@media only screen and (min-width:361px) and (max-width:480px){
    .eachVideo{
        transform: scale(0.5);
        margin: -115px 0;
    }
    .eachVideo:hover{
        opacity: 1;
        transform: scale(0.5);
    }
    .videoCategoryHeading>p{
        font-size: 1.25rem;
    }
}
@media only screen and (min-width:301px) and (max-width:360px){
    .eachVideo{
        transform: scale(0.425);
        margin: -120px 0;
    }
    .eachVideo:hover{
        opacity: 1;
        transform: scale(0.425);
    }
    .videoCategoryHeading>p{
        font-size: 1.25rem;
    }
}
@media only screen and (max-width:300px){
    .eachVideo{
        transform: scale(0.375);
        margin: -120px 0;
    }
    .eachVideo:hover{
        opacity: 1;
        transform: scale(0.375);
    }
    .videoCategoryHeading>p{
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 1921px) and (max-width: 2880px){
    *{
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 2881px){
    *{
        font-size: 1.5rem;
    }
}